In [ ]:
# 1. 정수 타입의 변수 생성

x = 10
y = -5
z = 0

print(type(x), type(y), type(z))

<class 'int'> <class 'int'> <class 'int'>

In [ ]:
# 정수의 사칙연산

# 덧셈

x = 10
y = 20
result = x + y
print(result)

30

In [ ]:
# 정수의 사칙연산

# 뺄셈

x = 10
y = 20
result = x - y
print(result)

-10

In [ ]:
# 정수의 사칙연산

# 곱셈

x = 10
y = 20
result = x * y
print(result)

200

In [ ]:
# 정수의 사칙연산

# 나눗셈

x = 10
y = 20
result = x / y
print(result)

0.5

In [ ]:
# id(x), id(y)에 대해서

x = 256
y = 256

print(x,y)
print(x == y)

# x와 y의 아이디가 같은 값이 나와서 둘은 같다는 것을 알 수 있음 (-5 ~ 256까지만)
print(id(x), id(y))

256 256
True
140575411019984 140575411019984