In [ ]:
# 산술연산자
# 덧셈

# 정수와 정수
result = 5 + 3
print(result)

# 정수와 실수
result2 = 3 + 2.5
print(result2)

# 문자열 덧셈(연결) : 두 문자열을 연결하는 역할을 함
s1 = "Hello"
s2 = "world"
result3 = s1 + " " + s2
print(result3)

# 리스트의 덧셈(연결)
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print(combined_list)

# 튜플의 덧셈(연결)
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined_tuple = tuple1 + tuple2
print(combined_tuple)

8
5.5
Hello world
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [ ]:
# 서로 다른 자료형 간의 덧셈은 지원하지 않음
result = "Hello" + 5

# dict과 set은 덧셈을 지원하지 않음

{'one':1} + {'two':2}
{5} + {6}

TypeError: ignored

In [ ]:
# 산술연산자
# 뺄셈

# 정수와 정수
result = 7 - 4
print(result)

# 정수와 실수
result2 = 10 + 3.5
print(result2)

# 음수
result3 = 5 - (-3)
print(result3)

3
13.5
8

In [ ]:
# 서로 다른 자료형 간의 뺄셈은 지원하지 않음
result = "Hello" - 5

TypeError: ignored

In [ ]:
# set의 뺄셈은 차집합으로 지원함

{3, 4, 5} - {4}

{3, 5}

In [ ]:
# 산술연산자
# 곱셈

# 정수와 정수
result = 3 * 4
print(result)

# 정수와 실수
result2 = 5 * 2.5
print(result2)

12
12.5

In [ ]:
# 문자열 곱셈
result = "Ha" * 3
print(result)

# 리스트 곱셈
result = [1, 2, 3] * 2
print(result)

HaHaHa
[1, 2, 3, 1, 2, 3]

In [ ]:
# 산술연산자
# 나눗셈

a = 10
b = 2
print(a / b) # 기본 float형으로 반환
print(a // b) # int 형으로 반환

5.0
5

In [ ]:
# 음의 나눗셈

a = -5
b = 2
print(a / b)
print(a // b) # //가 내림 연산이기 때문에 -3을 출력

-2.5
-3

In [ ]:
# 0으로 나눌 경우?

z = 0
x / y # 수학적으로 0으로 나누는 것이 정의되지 않아 오류남

NameError: ignored

In [ ]:
# 소숫점 2번째 자리까지 출력하는 방법

a = 10
b = 3
divide = a / b
print(f'{a} ÷ {b} = {divide:.2f}') # .2f가 소수점 2번째 자리까지 출력을 말함

10 ÷ 3 = 3.33

In [ ]:
# 나머지

print(10 % 3) # 몫이 아닌 나머지 출력 (홀/짝 판별, 1의 자리 반환 가능)

1

In [ ]:
# 제곱 연산자 (**)

# 기본 사용법
print(10 ** 3) # 10의 3승
print(4 ** 0.5) # 4의 1/2승 -> 즉, 루트 씌운거랑 같은 값


print(-2 ** 2) # python 계산에 따라 -4 출력
print((-2) ** 2) # python 계산에 따라 4 출력

1000
2.0
-4
4

In [ ]:
# 비교연산

# == (같음)
print(5 == 5) # = 꼭 2개 붙여줘야 함!

# != (같지 않음)
print(5 != 3) # 두 값이 다르면 True 반환

# < (작음)
print(3 < 5) # 왼쪽 값이 오른쪽 값보다 작으면 True 반환

# <= (작거나 같음)
print(5 <= 5) # 왼쪽 값이 오른쪽 값보다 작거나 같으면 True 반환

# > (큼)
print(6 > 5) # 왼쪽 값이 오른쪽 값보다 크면 True 반환

# >= (크거나 같음)
print(5 >= 5) # 왼쪽 값이 오른쪽 값보다 크거나 같으면 True 반환

True
True
True
True
True
True

In [ ]:
# 문자열, 리스트, 튜플도 비교 가능

print('apple' < 'banana') # 유니코드 순서대로 비교

print('하하' < '후후') # 유니코드 순서대로 비교

x = 10
print(5 < x < 15) # 연속적인 비교도 가능

True
True
True

In [ ]:
# 리스트의 비교

print([10, 20, 30] < [20, 30, 40]) # 맨 앞자리를 비교

#[10, 20, 30] > (20, 30, 40) -> 이렇게 타입 다르면 비교 불가

print('abcde' > 'abcda') # 맨 앞자리가 같은 다음 자리로 넘어가며 비교함

print('abcd' < 'abcda') # 자릿수가 더 많은 값이 더 않은 값으로 취급

True
True
True

In [ ]:
# 부동소숫점 비교

import math

result = 0.1 + 0.2
print(result == 0.3)
print(math.isclose(result, 0.3))
print(math.isclose(result, 0.29))
print(math.isclose(result, 0.31))
print(math.isclose(result, 0.30000001))

False
True
False
False
False