# 형 변환

In [ ]:
# 1. 기본 예제

월급= input("월급을 입력하세요:")
연봉 = 월급 * 12
print(연봉)

# 하면 정수형이 아니기 때문에 원하는 결과 값을 얻을 수 없음

월급을 입력하세요:3000000
300000030000003000000300000030000003000000300000030000003000000300000030000003000000

In [ ]:
# 제대로 수행하기 위해서는?

월급 = input("월급을 입력하세요:")
연봉 = int(월급) * 12 # 정수로 바꿔줌
print(연봉)

월급을 입력하세요:3000000
36000000

In [ ]:
# str -> int 변환

num = '123'
print(type(num))

num = int(num)
print(type(num))

<class 'str'>
<class 'int'>

In [ ]:
# float -> int 변환

f = 3.141592
number = int(f)
print(number)

3

In [ ]:
# bool -> int 변환

true_int = int(True)
false_int = int(False)

print(true_int)
print(false_int)

# None은 int형으로 변환 불가

1
0

In [ ]:
# int와 float -> str 형 변환

n = 123
print(type(n))

m = 123.4
print(type(n))

n = str(n)
print(type(n))

m = str(m)
print(type(m))

# float형은 str 변환했다가 int로 변환하면 error 발생

<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>

In [ ]:
# bool 형 변환

'''
조건의 명확성
데이터 유효성 검사
값의 존재 여부 판단 에 사용됨
'''

print("bool('test'):", bool('test'))
print("bool(' '):", bool(' '))
print("bool(''):", bool(''))
print("bool(100):", bool(100))
print("bool(1):", bool(1))
print("bool(0):", bool(0))
print("bool(-1):", bool(-1))
print("bool(None):", bool(None))
print("bool([]):", bool([]))
print("bool(tuple()):", bool(tuple()))
print("bool({}):", bool({}))
print("bool(set()):", bool(set()))

bool('test'): True
bool(' '): True
bool(''): False
bool(100): True
bool(1): True
bool(0): False
bool(-1): True
bool(None): False
bool([]): False
bool(tuple()): False
bool({}): False
bool(set()): False

In [ ]:
# float 형 변환

s = 10
print(float(s))

s = '10'
print(float(s))

s = '3.14'
print(float(s))

10.0
10.0
3.14

In [ ]:
# 특수 float 형 변환

infinity = float('inf')
neg_infinity = float('-inf')
not_a_number = float('nan') # nan은 자주 볼 예정!

# 정수와 실수의 나눗셈 같은 경우 항상 float를 반환함

In [ ]:
# str -> list 변환

s = '10'
print(list(s))

name = 'licat'
print(list(name))

['1', '0']
['l', 'i', 'c', 'a', 't']

In [ ]:
# int -> list 변환

n = 10
print(list(n))

# 정수형은 list로 변환이 가능하지 않기 때문에 오류뜸

TypeError: ignored

In [ ]:
# tuple 형 변환

name = 'licat'
tuple(name)

('l', 'i', 'c', 'a', 't')

In [ ]:
# dict 형 변환

data = [('name','licat'),('age',10)]
d = dict(data)
d

# dict 자료형은 key와 value로 쌍을 이루어야 함

{'name': 'licat', 'age': 10}

In [ ]:
# set 형 변환

s = 'weniv CEO licat'
print(set(s)) # 중복을 허락하지 않고 순서가 없음
print(len(set(s))) # 중복을 제거한 상태로의 길이 알려줌
print(len(s))

{'C', ' ', 'c', 'i', 'l', 'E', 'a', 'n', 't', 'e', 'O', 'w', 'v'}
13
15

In [ ]:
# map

list(map(int, ['10', '20', '30']))

[10, 20, 30]

In [ ]:
# map

list(map(int, '12345'))

[1, 2, 3, 4, 5]