# 시퀀스 자료형

* 리스트(List)
* 문자열(String)
* 튜플(Tuple)
* 범위(range)

In [3]:
# 인덱싱(Indexing)
# 고유한 인덱스를 통해 접근 가능(음수를 사용하면 끝에서부터 역으로)

     #01234
     #54321 (-를 붙여서 나오게 할 경우)
ex = 'abcde'
print(ex[0])
print(ex[2])
print(ex[-1])
print(ex[-4])

a
c
e
b

In [2]:
# 슬라이싱(Slicing)

ex = 'abcde'
print(ex[1:3]) # 1부터 2까지 출력 (3에서 -1해준 자리)
print(range(10)[3]) # 0부터 9까지의 숫자를 생성 후 3번째 요소 출력
print(range(100)[::5]) # 0부터 99까지 5간격으로 출력 함 (range(0, 100, 5)와 같음)

bc
3
range(0, 100, 5)

In [10]:
# 특정항목 포함 여부 (Member)

ex = 'abcde'
print('a' in ex) # ex에 a가 포함되어 있으면 True 출력
print('z' in ex) # ex에 z가 포함되어 있지 않으면 False 출력

True
False

In [14]:
# 연결 & 반복 (lteration)
# + 연산자로 시퀀스 연결 가능, * 연산자를 이용하여 반복 가능

ex1 = 'abcde'
ex2 = 'f'
print(ex1 + ex2)
print(ex2 * 3)

abcdef
fff

In [16]:
# 내장함수
ex = 'abcde'
print(len(ex)) # 문장의 길이 알려주는
print(min(ex))
print(max(ex))

5
a
e

# 패킹과 언패킹

In [6]:
# 패킹 (packing)
# 여러 개의 데이터를 하나의 변수에 담는 과정
ex1 = 1, 2, 3, 4, 5
print(ex1)

# 언패킹 (unpacking)
# 패킹된 데이터를 여러 개의 변수로 분배하는 과정
a, b, c, d, e = ex1
print(a)
print(b)
print(c)
print(d)
print(e)

(1, 2, 3, 4, 5)
1
2
3
4
5

In [18]:
# 튜플 패킹
packed_tuple = 1, 2, 3, 4
print(packed_tuple)
type(packed_tuple)

(1, 2, 3, 4)

tuple

In [19]:
packed_tuple = 1, 2, 3, 4

# 튜플 언패킹
a, b, c, d = packed_tuple
print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [21]:
# 다양한 패킹/언패킹
# range는 0부터 n-1까지 숫자를 생성하는 함수

z = range(3)
print(z)

a, b, c = range(3) # 언패킹
print(range(3))
print(a, b, c)

range(0, 3)
range(0, 3)
0 1 2

In [22]:
total_sum = 0

for i in range(5):
    total_sum += i
    print(total_sum)
print(total_sum)

0
1
3
6
10
10

In [26]:
# * 를 이용한 언패킹 (자주 볼 친구)

first, *middle, last = [1, 2, 3, 4, 5]
print(first)
print(middle)
print(last)

1
[2, 3, 4]
5