In [4]:
# 리스트 (List)
# [] 안에 ,로 구분된 데이터 넣으면 됨

x = [1, 2, 3, 4, 5]
y = ['a', 'b', 'c', 'd', 'e', 'f']
z = [1, [2, 3, 4], 3] # 리스트 안에 리스트도 가능 (다차원 리스트)

# len을 사용하여 리스트 안에 몇 개의 데이터가 있는지 확인 가능
print(len(x))
print(len(y))
print(len(z))

5
6
3

In [ ]:
# 리스트 값 수정

a = [1, 2, 3, 4, 5]
a[0] = 10000 # 리스트 a의 첫 번째를 10000으로 바꾸는 코드
print(a)

# 문자열 변경은 지원 안함
s = 'licat'
s[0] = 'k' # 불가능 하기에 오류 남
print(s[0])

In [11]:
# 리스트의 덧셈
a = [1, 2, 3, 4, 5]
b = [6, 7, 8]

print(a + b)

# 리스트의 곱셈
a = [1, 2, 3, 4, 5]
print(a * 3)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
# 아래 같이 범위를 벗어난 값을 출력하려고 하면 오류 남

lst = [1, 2, 3, 4, 5]
print(lst[10])

In [9]:
# 리스트 슬라이싱
# [start:stop:step] 형태

l = [1, 2, 3, 4, 5]

print(l[:]) # 처음부터 끝까지
print(l[::-1]) # 처음부터 끝까지 거꾸로 (-1이라서)
print(l[::2]) # 처음부터 끝까지 2 간격으로
print(l[0:4][::-1]) # 처음부터 4 번째까지 거꾸로(-1이라서)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 3, 5]
[4, 3, 2, 1]

In [10]:
# 슬라이싱은 범위를 벗어나도 오류가 안 샘김

l = [1, 2, 3, 4, 5]
print(l[10:20])

[]

In [19]:
# 리스트 메서드

# append
# 리스트의 끝에 값을 추가
a = [1, 2, 3]
a.append(10)
print(a)

# clear
# 리스트의 모든 항목을 삭제
a = [1, 2, 3]
a.clear()
print(a)

# count
# 특정 값이 리스트에 몇 번 포함되어 있는지 카운트
a = [1, 1, 1, 2, 3, 2, 4, 3, 1, 2, 2]
print(a.count(1)) # 1이 몇 번 들어가는지 카운트

# extend
# 리스트에 다른 리스트나 순회 가능한(iterable) 항목들을 추가
a = [1, 2, 3]
a.extend([4, 5, 6])
print(a)

# index
# 주어진 값 위치(인덱스)를 반환
a = [10, 20, 30, 40]
print(a.index(30))

# insert
# 주어진 위치에 값을 삽입
a.insert(2, 25)
print(a)

# pop
# 리스트의 특정 위치에 있는 값을 반환하고 해당 값을 리스트에서 삭제
print(a.pop(2))
print(a) # 값을 넣지 않을 경우 마지막에서 값을 뺌

# remove
# 리스트에서 첫 번째로 발견되는 주어진 값을 삭제
a = [1, 2, 3, 1, 2]
a.remove(2)
print(a)

# reverse
# 리스트의 모든 항목들의 순서를 뒤집음
a = [1, 2, 3, 4, 5]
a.reverse()
print(a)

# sort
# 리스트 자체를 정렬
a = [3, 2, 4, 1, 5]
a.sort()
print(a)

[1, 2, 3, 10]
[]
4
[1, 2, 3, 4, 5, 6]
2
[10, 20, 25, 30, 40]
25
[10, 20, 30, 40]
[1, 3, 1, 2]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]