# 1. 논리연산

In [ ]:
# and 연산자
# 논리 곱으로 표현 / 두 조건이 모두 참일 때 True 반환

print(True and True)
print(True and False)
print(False and True)
print(False and False)

In [ ]:
# or 연산자
# 논리 합으로 표현 / 두 조건 중 하나라도 참일 때 True 반환

print(True or True)
print(True or False)
print(False or True)
print(False or False)

In [2]:
# and와 or 사용

for i in range(101): # 0부터 100까지 반복
    if i % 3 == 0 and i % 5 == 0:
        print(i)

0
15
30
45
60
75
90

In [ ]:
# not 연산자
# 주어진 조건의 반대 값을 반환 (True는 False로 False는 True로)

print(not True)
print(not False)

In [3]:
# 단락평가
# 연산 결과가 확정된 시점에서 평가 중단

def test1():
    print("teat1 함수 호출!")
    return False

def test2():
    print("test 함수 호출!")
    return True

# 가장 많이 걸러지는 조건을 앞에 두면 리소스 줄일 수 있음

result = test1() and test2()
print(result)

teat1 함수 호출!
False

# 2. 할당연사자

In [5]:
# 할당연산자
# 변수에 값을 저장하는데 사용
# 코드를 보기 좋게 할 수 있고 실수할 확률도 줄어듬

x = 5
y = 2
z = 10

x1 = y * z
x2 = x + (y * z)
x += y * z # y * z 연산 후에 x에 값을 할당

print(x1)
print(x2)
print(x)

20
25
25

# 3. 식별연산자

In [7]:
# 식별연산자
# 두 변수가 동일한 객체를 참조하고 있는지 확인하는데 사용
# 동일 인물 확인

coffee_employee = "Brand"
orange_employee = "Brand"

print(coffee_employee is orange_employee) # 주소가 같은지
print(coffee_employee == orange_employee) # 실제 값이 같은지

# is -> id를 기준으로 같은지 판별
# == -> 값 기준으로 같은지 판별

True
True

# 4. 맴버 연산

In [8]:
# 맴버 연산
# 어떠한 값이 목록 안에 있는지 확인해주는 기능
# in과 not in 을 사용

a = [1, 2, 3, 4]
b = [1, 2, 3, 4]
c = 'hello world'

print(1 in a) # a 안에 1이 존재하면 True, 존재하지 않으면 False
print(0 not in a) # a 안에 0이 존재하지 않으면 Ture 출력
print([2] in b) # 리스트가 [2]가 b안에 존재하지 않으므로 False
print([1, 2] in b)
print('h' in c) # c 안에 h가 존재하면 True 출력
print('hello ' in c)

True

# 연습 문제

In [10]:
# 연습문제

# 1번
a = 100
print((a > 100) and (a < 200)) # 0 1 -> 0
print((a > 100) or (a < 200)) # 0 1 -> 1
print((a >= 100) and (a <= 200)) # 1 1 -> 1
print((a >= 100) or (a <= 200)) # 1 1 -> 1

False
True
True
True

In [11]:
# 연습문제

# 2번

b = 25
(b % 2 == 0) and (b % 5 == 0)

False

In [15]:
# 연습문제

# 3번

'''
변수 c 안에 들어있는 가격을 100원짜리 몇개로 거슬러 줄 수 있는 코드
'''

c = 1000
c // 100

10

In [18]:
# 연습문제

# 4번

'''
입력한 금액을 5000원, 1000원, 500원, 100원으로 교환하는 프로그램 작성
'''

money = int(input("거스름돈을 출력하세요"))

# 5000원 지폐 개수 계산
num_5000 = money // 5000
money = money - num_5000 * 5000

# 1000원 지폐 개수 계산
num_1000 = money // 1000
money = money - num_1000 * 1000

# 500원 동전 개수 계산
num_500 = money // 500
money = money - num_500 * 500

# 100원 동전 개수 계산
num_100 = money // 100
money = money - num_100 * 100

# 10원 동전 개수 계산
num_10 = money // 10

# 결과 출력
print("5000원 지폐 개수:", num_5000)
print("1000원 지폐 개수:", num_1000)
print("500원 동전 개수:", num_500)
print("100원 동전 개수:", num_100)
print("10원 동전 개수:", num_10)

거스름돈을 출력하세요4890
5000원 지폐 개수: 0
1000원 지폐 개수: 4
500원 동전 개수: 1
100원 동전 개수: 3
10원 동전 개수: 9

In [26]:
'''
1. 사용자 입력 받기(input 사용)
2. 문자열을 숫자로 변환(float 사용)
3. 할인된 가격 계산(할인된 가격 = 원가 - (원가 x 할인율/100))
4. 결과 출력(print 사용)
'''

# 원가와 할인율 입력 받기
original_price = float(input("원가를 입력하세요."))
discount_rate = float(input("할인율을 입력하세요."))

# 할인된 가격 계산
discounted_price = original_price - (original_price * (discount_rate/100))

# 결과 출력
print(f'할인한 가격은 {int(discounted_price)}원 입니다.')

원가를 입력하세요.100
할인율을 입력하세요.10
할인한 가격은 90원 입니다.

In [31]:
'''
1. 사용자 입력 받기 (input 사용)
2. 문자열을 숫자로 변환 (int 사용)
3. 산술 연산 수행 (변환된 나이에 1을 더하여 다음 해의 나이를 계산)
4. 문자열 길이 계산 (len 사용)
5. 성인 여부 판단 (나이를 기준으로 성인 여부를 판단하여 불리언 값으로 표시)
(예: 18세 이상이면 True, 그렇지 않으면 False)
6. 결과 출력 (print 사용)
'''

# 사용자 입력 받기
user_name = (input("이름을 입력하세요."))
user_age = int(input("나이를 입력하세요."))

# 다음 해 나이 계산
next_age = user_age + 1

# 문자열 길이 계산
name_length = len(user_name)

# 성인 여부 판단
is_adult = (user_age >= 19)

# 결과 출력
print(f'이름: {user_name}')
print(f'올해 나이: {user_age}')
print(f'다음 해 나이: {next_age}')
print(f'성인 여부: {is_adult}')

이름을 입력하세요.유지은
나이를 입력하세요.17
이름: 유지은
올해 나이: 17
다음 해 나이: 18
성인 여부: False