# 문제1. 다음 값은 어떤 값이 출력되는지 이유를 설명하세요.

* 1.1 'hello' and 1
* 1.2 10 or 'hello world'

In [1]:
# 문제 1.1
'hello' and 1

# 정답: A and B 형태의 연산에서 A가 거짓으로 평가되면
# B는 평가를 안하고 바로 False로 결정 되므로 1이 출력 된다.

1

In [2]:
# 문제1.2
10 or 'hello world'

# 정답: A or B 에서 A가 참으로 평가되면
# B는 평가되지 않고 바로 True로 결정 되므로 10이 출력 된다.

10

# 2. 문제2 . 아래 dict에 'three' key를 이용하여 '3'라는 값을 출력해주세요. 없을 경우 애러가 나는 것이 아니라 '3'이라는 값을 출력해야 합니다.

In [4]:
d = {'one':1, 'two':2}
d.setdefault('three', '3')

print(d)

{'one': 1, 'two': 2, 'three': '3'}

# 문제3. 다음 리스트에서 100은 어떻게 꺼낼 수 있나요?

In [7]:
l = [1, [10, 20], [3, [100, 200], 5]]

print(l[2][1][0])

100

# 문제4. 아래 숫자를 모두 더해주세요.

l = [[1, 2], [3, 4]]

In [12]:
l = [[1, 2], [3, 4]]

ll = sum(l, []) # 평탄화
sum(ll)

10

# 5. (난이도 있는 문제) filter를 사용하여 아래 리스트에서 짝수를 모두 더하는 코드를 작성해주세요.

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def f(x):
    return x % 2 == 0

result = sum(filter(f, l))
print(result)

30