In [ ]:
a = 10
b = a
c = b

print(c)

a = 10
b = a
c = b
a = 20
print(c)

a = 10
b = a
print(id(a))
print(id(b))

In [11]:
# -5부터 256까지는 같음
a = 10
b = 10

print(id(a))
print(id(b))
print(a is b)

a = 257
b = 257

print(id(a))
print(id(b))
print(a is b)

139294359880208
139294359880208
True
139293092949680
139293092949488
False

In [1]:
# 부동소수점
# 0.1 2진수로 표현했을 때 무한 소수라서 계산 결과가 이상해짐
0.1 + 0.2

0.30000000000000004

In [2]:
# 문자열 연결
# 80자 넘어갈때 해결방법

# 1. 역슬레쉬(추천 x)
print('helloworldhelloworldhelloworldhelloworldhelloworldhelloworldhelloworld\
helloworldhelloworld')

# 2. 콤마 찍지 않고 작성(추천!)
print('hello world'
      'hello world'
      'hello world'
      'hello world'
      'hello world'
      'hello world'
      'hello world')

helloworldhelloworldhelloworldhelloworldhelloworldhelloworldhelloworldhelloworldhelloworld
hello worldhello worldhello worldhello worldhello worldhello worldhello world

In [5]:
# 매서드 체이닝 3개 이상 하기를 권하지 않음 (80자가 넘어가지 않는게 좋음)

# 별로인 코드
'hello world' .upper().split().pop().lower()

# 문제가 덜한 코드
대문자 = 'hello world'.upper()
잘린대문자 = 대문자.split(' ')

print(잘린대문자)

['HELLO', 'WORLD']

In [9]:
# 문자열 메서드
# 메서드, 매직메서드
dir('hello world')

# 문제1: find와 index 차이
# 실무에서 사용하는 코드는:

if 'hello world'.find('hi'): # 실무에서 자주 나오는 오료! 이런식으로 코딩하면 안됨
    print('찾았다!')

# 문제2: isdigit의 정체 -> 숫자'만' 있는지 판별
'123'.isdigit()
'12h3'.isdigit()

# 문제3: replace가 어디까지 변환하는지?
'hello world hello world'.replace('hello', 'hi') # 모두 다 변환이 됨
# replace는 정규표현식이 안된다.
# 정규표현식을 사용하고 싶으면 re.sub를 사용해야 함.

# 문제4: strip(공백제거)

# 문제5: zfill(앞에 0을 채워주는 것, 원하는 자릿수만큼)

찾았다!

'hi world hi world'

# 리스트
* 변경이 가능한 자료형
* 순서가 있는 자료형(시퀀스형, 자료형, 인덱싱, 슬라이싱 가능)

In [ ]:
l = [10, 20, 30]

# 권고1: 길어졌을 때에는 이렇게 사용하길 권장
l = [
    10,
    20,
    30
    ]

# 권고2: 실무에서는 이 방식을 더 많이 사용함
l = [
    10,
    20,
    30,
]

# 문제가 있음! JSON이라는 형식을 사용하게 되는데,
# JSON은 콤마를 허용하지 않음

# 근데 왜 2번을 더 많이 사용하지?
# -> 콤마를 버전업으로 생각 / 콤마를 빼먹는 경우가 많음 / 편의성(복붙)
# 자동 변환 소프트웨어로 코드 변환 권고

In [12]:
l = [10, 20, 30]
l[2]

30

In [15]:
# 아래 같이 str은 불가!
s = 'hello world'
# s[0] = 'y'

print(s.replace('h', 'y'))
print(s)

yello world
hello world

In [14]:
# 얘는 변하긴 하지만 원본은 변하지 않음
s = s.replace('h', 'y')

# 얘는 원본도 변함
s = 'y' +s[1:]

In [16]:
l = [10, 20, 30]
l[2] = 1000
print(l)

[10, 20, 1000]

In [19]:
l = [10, 20, 30, 40, 50]
l[-1]
l[-2:] # - 인덱싱/ 슬라이싱은 최종적으로 양수로 치환
# 즉, I[-2:] 코드는 l[3:]과 같음

# 변수명[stop]
# 변수명[start:stop]
# 변수명[start:stop:step]

[40, 50]

In [ ]:
type(l), dir(l)
# type은 검색 키워드, GPT 질문 키워드가 될 수 있음
# dir은 대략적인 속성을 알 수 있음

In [22]:
ㅣ = [10, 20, 30]

# ㅣ + 100 같이 정수는 더하기 불가
l + [100] # 이건 가능!

# l * [1, 2]같이 리스트 곱하기는 불가
l * 3 # 이건 가능!

[10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

In [26]:
# 리스트 곱하기는 매우 주의해야 함
# 곱하기가 2중으로 있을 때에는
# 리스트컴프리헨션 사용

ㅣ =  [[1, 2, 3] * 3] * 2
ㅣ[1][0] = 1000
ㅣ

[[1000, 2, 3, 1, 2, 3, 1, 2, 3], [1000, 2, 3, 1, 2, 3, 1, 2, 3]]

In [27]:
ㅣ[1][1] = 10000
ㅣ

[[1000, 10000, 3, 1, 2, 3, 1, 2, 3], [1000, 10000, 3, 1, 2, 3, 1, 2, 3]]

In [ ]:
# 암기하기
x = 10 # 스칼라
x = [10] # 벡터
x = [10, 20] # 벡터
x = [[10, 20], [10, 20]] # 메트릭스(행렬)
x = [[10, 20], [10, 20], [10, 20], [10, 20]] # 텐서(3차원 이상 행렬)

In [ ]:
# 텐서플로
# 인공지능 엄청 단순하게 말하면 행렬의 연산

In [32]:
x = [[1, 2], [3, 4], [5, 6]]

# 4출력 하기
x[1]
x[1][1]

4

In [34]:
x = [[1, 2], [3, 'hello world'], [5, 6]]

# world만 출력하기
print(x[1])
print(x[1][1])
print(x[1][1][6:])

[3, 'hello world']
hello world
world

In [36]:
x = 10

# 둘은 다른 것이다!
print(x) # __str__
x # __repr__

10

10

In [ ]:
l = [10, 20 ,30]
dir(l)

# Shift + Tab
# Ctrl + [
# Ctrl + ]
'append',
'clear',
'copy',
'count',
'extend',
'index',
'insert',
'pop',
'remove',
'reverse',
'sort'

In [38]:
l.append(100)
l

[10, 20, 30, 100]

In [39]:
# 1000을 앞에다 넣기 방법1
l = [1000] + l

# 1000을 앞에다 넣기 방법2
x = 1000
l = [x]+ l[:]

# 1000을 앞에다 넣기 방법3
l.insert(0, 999)
l

[999, 1000, 1000, 10, 20, 30, 100]

In [40]:
l = [10, 20, 30, 40]
l.pop() # 뒤에서 값을 꺼냄
l

[10, 20, 30]

In [41]:
l = [10, 20, 30, 40]
l.pop(0) # 뒤에서 값을 꺼냄
l

[20, 30, 40]

In [43]:
l = [10, 20, 30, 40]
l[:-1] # 뒤에서 값을 꺼냄
l[1:]

[20, 30, 40]

In [ ]:
l = [10, 20, 30, 40]
l.index(20)

In [44]:
# Keep
# index가 에러 남 -> error 없이 코드 짜고 싶을때는?
# 슬라이싱 사용 -> index가 벗어나더라고 에러 발생 x

l = [10, 20, 30, 40]
l[100:101]

[]

In [45]:
l = [10, 20, 30, 40]
l.clear()
l

[]

In [47]:
l = [10, 20, 30, 40]
ll = l

l[0] = 1000
ll

[1000, 20, 30, 40]

In [52]:
l = [10, 20, 30, 40]
ll = l.copy()

l[0] = 1000
ll

[10, 20, 30, 40]

In [54]:
# copy 대신에 이것도 사용 많이 함
l = [10, 20, 30, 40]
ll = l[:]

l[0] = 1000
l, ll

([1000, 20, 30, 40], [10, 20, 30, 40])

In [59]:
l = [1, 2, 3, 4, 2, 2, 1, 4 ,5 , 1, 1,]
l.count(1)

4

In [60]:
'''
# 분위기 환기차 해드리는 것입니다.
# 이해하지 못하셔도 괜찮습니다.
# https://codingdojang.com/scode/393?answer_mode=hide
str([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]).count('1')
# str(1부터_10000까지_리스트).count('8')
list(range(10))
str(list(range(20)))
str(list(range(20))).count('8')
'''

"\n# 분위기 환기차 해드리는 것입니다.\n# 이해하지 못하셔도 괜찮습니다.\n# https://codingdojang.com/scode/393?answer_mode=hide\nstr([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]).count('1')\n# str(1부터_10000까지_리스트).count('8')\nlist(range(10))\nstr(list(range(20)))\nstr(list(range(20))).count('8')\n"

In [63]:
l = [10, 20, 30, 40]
l.append([50, 60]) # 보통 이렇게 많이 사용함!
l

# append는 단일 요소 추가

[10, 20, 30, 40, [50, 60]]

In [61]:
l = [10, 20, 30, 40]
l.extend([50, 60])
l

# extend는 요소 개별 추가
# extend는 보통 리스트지만 순회 가능한 객체도 있음!

[10, 20, 30, 40, 50, 60]

In [66]:
l = [1, 1, 1, 1, 2, 2, 3, 3, 3, 3]
l.remove(1)
l

# 앞에서부터 순회 돌면서 삭제 (한가지 요소 지울 때 사용)
# 근데 1을 모두 지우고 싶은데 -> 그럼 remove 사용 x

[1, 1, 1, 2, 2, 3, 3, 3, 3]

In [71]:
# 다 지울거면 fillter 사용 (정말 많이 사용함)
def f(x):
    return x != 1

l = [1, 1, 1, 1, 2, 2, 3, 3, 3, 3]
list(filter(f, l))

[2, 2, 3, 3, 3, 3]

In [73]:
l = [1, 2, 3, 4, 5, 9, 5, 6, 7]
l.reverse()
l
# 역순 출력 (역정렬 x)
# 원본이 변하기 때문에 사용 주의

[7, 6, 5, 9, 5, 4, 3, 2, 1]

In [77]:
l = [1, 2, 3, 4, 5, 9, 5, 6, 7]
reversed(l) # reversed는 원본을 변경하지 않음

In [78]:
l = [1, 2, 3, 4, 5, 9, 5, 6, 7]
l.sort()
l.reverse()
l # 원본을 바꾸는 역정렬

[9, 7, 6, 5, 5, 4, 3, 2, 1]

In [ ]:
# sorted는 원본 변경 안함 (이건 좀 잊어도 됨)
l = [1, 2, 3, 4, 5, 9, 5, 6, 7]
l.sorted(l)

In [ ]:
# sort, sorted, reverse, reversed는 알고리즘 문제에 잘 나옴!!

In [79]:
# 어떻게 사용되는지만 체크! (뒤에서 다시 하겠습니다.)
# 국어 점수가 가장 높은 순으로 정렬해주세요.
# 국, 영, 수, 이름
s = [[100, 87, 91, '이호준'], [56, 38, 89, '이준호'], [33, 86, 100, '홍길동']]

def f(x):
    return x[0]

sorted(s, key=f)
sorted(s, key=f, reverse=True)

[[100, 87, 91, '이호준'], [56, 38, 89, '이준호'], [33, 86, 100, '홍길동']]

In [80]:
# 평균 점수가 가장 높은 순으로 정렬해주세요.
s = [[100, 87, 91, '이호준'], [56, 38, 89, '이준호'], [33, 86, 100, '홍길동']]

def f(x):
    return x[0] + x[1] + x[2]

sorted(s, key=f)
sorted(s, key=f, reverse=True)

[[100, 87, 91, '이호준'], [33, 86, 100, '홍길동'], [56, 38, 89, '이준호']]

# 튜플

* 순서가 있는 자료형 (인데싱, 슬라이싱)
* 참조 변경 불가능(값 변경 불가는 틀린 말!)

In [81]:
t = (10, 20, 30) # 소괄호

In [82]:
t[0]
# t[0] = 1000 하면 오류 발생 (변경이 불가능해서!)

10

In [83]:
# 그래서 튜플이 필요한 이유는?
# * 권한과 변경불가, 형태 고정인 자료형

# 값 변경 불가는 왜 틀린말인가?
# 참조 된 값이 변경 가능하면 변경 할 수 있음

a = [10, 20, 30]
b = (a, 100, 200) # 이처럼 b에 있는 a는 수정 불가능 하지만 a자체는 변경 가능함

In [84]:
t = (10, 20, 30)

t.count(10) # 10의 갯수를 반환
t.index(10) # 10의 위치를 반환

0

# 딕셔너리

* 3.6 버전 이상은 순서가 보장 됨
* 실무에서 python 버전? -> 생각보다 낮음
* 'key: value' 쌍으로 이루어짐
* 데이터 검색이 빠름
* key 없는 거 호출하면 error 생기니 주의

In [86]:
d = {'one': '하나', 'two': '둘'}

d['one'] # 이렇게 호출도 가능하지만
d.get('three') # 이런식으로 호출해야 error 없음!
d.get('three', '없는 값입니다.') # 이런것도 가능

'하나'

In [89]:
# 실무에서 사용하는 코드
def f(x):
    return{
        0: '일요일',
        1: '월요일',
        2: '화요일',
        3: '수요일',
        4: '목요일',
        5: '금요일',
        6: '토요일',
    }.get(x, '요일없음')
f(3)

'수요일'

In [90]:
type(d)

dict

In [ ]:
d = {'one': '하나', 'two': '둘'}

In [93]:
d = {'one': '하나', 'two': '둘'}
dd = d.copy()

id(dd), id(d)
dd is d

d['one'] = 'python'
d['two'] = 'hteml'

dd

{'one': '하나', 'two': '둘'}

In [95]:
# 자주 사용하지 않음

d = ('one', 'two', 'three')
dict.fromkeys(d)

{'one': None, 'two': None, 'three': None}

In [96]:
# 매우 매우 자주 사용함

d = {'one': '하나', 'two':'둘'}
d.get('one')
d.get('three', '값 없음!')

'값 없음!'

In [98]:
d = {'one': '하나', 'two': '둘'}
d.items()

dict_items([('one', '하나'), ('two', '둘')])

In [99]:
a, b = d.items() # 언패킹
a
b

('two', '둘')

In [102]:
# 언패킹은 보통 이렇게 씀

for i, j in d.items():
    print(i, j)

one 하나
two 둘

In [103]:
d.keys() # key만 나옴
d.values()

dict_values(['하나', '둘'])

In [104]:
# setdefault는 key가 없을때 생성하고 출력해줌

d = {'one': '하나', 'two': '둘'}
d.setdefault('one')
d.setdefault('three')
d

{'one': '하나', 'two': '둘', 'three': None}

In [105]:
d = {'one': '하나', 'two': '둘'}
d.pop('one')

'하나'

In [ ]:
d = {'one': '하나', 'two': '둘'}
d.popitem() # 없는 코드 많이 볼 예정

In [107]:
d = {'one': '하나', 'two': '둘'}
d.update({'one': 'python', 'three': 'hello'})
# one은 수정이 되었고 three는 생성이 됨
d

{'one': 'python', 'two': '둘', 'three': 'hello'}

In [108]:
# 신규문법(3.9)
d = {'one': '하나', 'two': '둘'}
dd = {'three': '셋'}

# d + dd 하면 오류가 나는데
d | dd # 이건 오류 안남

{'one': '하나', 'two': '둘', 'three': '셋'}

In [109]:
d = {'one': '하나', 'two': '둘'}
dd = {'one': 'python', 'three': '셋'}
d | dd

{'one': 'python', 'two': '둘', 'three': '셋'}

# 셋

* 중복을 허락하지 않는 자료형
* 순서가 없는 자료형
* 집합 (합집합, 차집합, 교집합)

In [113]:
s = {1, 2, 3, 4, 5}
ss = {3, 4, 5, 6, 7}

# s + ss -> error
s | ss # 합집합 (union)
s - ss # 차집합 (difference)
s & ss # 교집합 (intersection)

{3, 4, 5}

In [111]:
type(s)

set

In [112]:
s.add(10) # 값 추가
s

{1, 2, 3, 4, 5, 10}

In [117]:
# 기호로 안쓰고 문법처럼 쓰기 (근데 기호로 쓰는걸 권장)

s.difference(ss)
s.intersection(ss)
s.union(ss)

{1, 2, 3, 4, 5, 6, 7}

# sum

In [118]:
# 아래 코드 둘 다 오류 남
# sum(10, 20, 30)
# sum([10, 20], [10, 20], [10,20])

# sum (순회 가능한 객체, 초기값)
sum([10, 20, 30], 100)

160

In [121]:
sum([[10, 20], [30, 40], [50, 60]], []) # 평탄화 작업
[] + [10, 20] == [10, 20]
[10, 20] + [30, 40] == [10, 20, 30, 40]

True

# in

In [122]:
'h' in 'hello'

True

In [123]:
x = 10
x in [10, 20, 30, 40, 50]

True

In [124]:
s = {1, 2, 3}
1 in s

True

In [125]:
s = {1, 2, 3}
1 not in s

False