In [ ]:
# Built in function

'''
# 요소 전체의 True, False 판별
all
any

# 숫자를 문자로 바꾸거나 문자를 숫자로 바꾸는 함수
chr
ord

# 함수와 순회할 수 있는 객체의 연산
map
filter

# 순회할 수 있는 객체의 묶음
zip

# 형식 변환
format

# 길이 반환
len

# 큰 값, 작은 값, 다 더한 값
max
min
sum

# 문자열, 대표 문자열, 문자열 출력
str
repr
print

# 순회할 수 있는 객체
enumerate
range

# 역순과 정렬
reversed
sorted
'''

In [ ]:
# all
# 모두 다 True면 True 반환

all([True, True, True]) # True 출력
all([True, False, True]) # False 출력
all([1, 0, 1, 0]) # False 출력
all([1, 100, 10, -1]) # False 출력
all([1, 1, 1, 1]) # True 출력

True

In [ ]:
# any
# 하나라도 True면 True

any(True, False, False) # True 출력
any(False, False, False) # False 출력

In [ ]:
# map
# 모든 요소의 특정 함수를 적용한 결과를
# map 객체 형태로 반환하는 함수

# 방법1
def 제곱(x):
    return x ** 2
list(map(제곱, [1, 2, 3, 4]))

# 방법2
list(map(lambda x : x ** 2, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [1]:
# filter
# 순회할 수 있는 객체의 요소 중 특정 조건을 만족하는 요소만 선택하여 반환
# 반환 값은 filter 객체 형태로 제공

# 0부터 99까지의 숫자 중에 50보다 큰 숫자를 선택하여 리스트로 반환
list(filter(lambda x : x > 50, range(100)))

[51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [ ]:
# zip
# 여러 개의 순회 할 수 있는 객체의 요소를 묶어서 반환
# 직접 순회하기 전까지는 메모리 주소로만 반환

list(zip('ab', '12'))

[('a', '1'), ('b', '2')]

In [ ]:
# 길이가 다르면 가장 짧은 것을 기준으로 출력함
list(zip('abc', '1234567', [10, 20, 30]))

[('a', '1', 10), ('b', '2', 20), ('c', '3', 30)]

In [4]:
# format
# 특정 값을 지정한 형식으로 반환하여 문자열로 반환
# 서식 지정자를 설정하지 않으면 str()한 것과 동일한 결과

# format(값, '서식 지정자(format_spec)') 형태

print(format(123.4567, '.2f')) # 소수점 2자리까지만 출력
print(format('hello', '^9')) # 9 자리에 중앙정렬(^)

123.46
  hello

In [5]:
# len
# 시퀀스 또는 컬렉션의 길이(요소의 개수)를 반환

# len (길이를 계산하려는 객체)

len('hello world')

11

In [ ]:
# max
# 순회할 수 있는 객체의 최댓값을 반환

# max(순회할 수 있는 객체, 함수(key), 초기값(default))

max([1, 2, 3, 4, 5]) # 순회를 돌면서 가장 큰 값인 5 출력
max([(1, 2), (3, 101), (1, 20), (3, 100)]) # 튜플의 가장 처음값 -> 그후 뒤의 값 비교
max(['hello', 'world', 'world1']) # 유니코드를 비교

In [6]:
# min
# 순회할 수 있는 가장 작은 값을 찾아 반환

# min(순회할 수 있는 객체, 함수(key), 초기값(default))

min([1, 2, 3, 4, 5]) # 순회를 돌면서 가장 작은 값인 1 출력
min([], default=0) # 기본값 0 설정해둠

In [7]:
# sum
# 순회 가능한 객체를 받아 모든 요소의 합을 계산하여 반환

# sum(iterable, start=0)

sum([1, 2, 3, 4, 5]) # 다 더해서 15라는 값 출력
sum([1, 2, 3], 10) # 다 더해서 16이라는 값 출력

16

In [8]:
# print
# 객체를 문자열 형태로 출력하는 기능

class Charactor:
    def __repr__(self):
        return 'hello'
    def __str__(self):
        return 'world'

hero = Charactor()
print(hero)
hero


# repr
# 객체의 공식 문자열 표현을 가져옴

repr(hero) # (__repr__ 메서드 호출로 인해) 출력 : hello

world

'hello'

In [9]:
# range
# 순회할 수 있는 숫자 객체를 만들어주는 함수

# range(start, stop, step)

range(1, 10, 2)
list(range(1, 10, 2))

# 1이 아닌 0부터 시작이고 끝값은 마지막 값 -1 한 값

[1, 3, 5, 7, 9]

In [ ]:
# enumerate
# index를 자동으로 생성할때 자주 사용

values = ['a', 'b', 'c', 'd']
print(list(enumerate(values)))
print(list(enumerate(values, 1)))
print(list(enumerate(values, 100)))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]
[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]
[(100, 'a'), (101, 'b'), (102, 'c'), (103, 'd')]

In [12]:
# sortred, reverse
# 시퀀스를 정렬하여 새로운 리스트를 반환
# reverse 및 key 아규먼트를 전달하여 정렬 방법을 원하는대로 변경 가능

sorted([1, 2, 100, 200, 3, 4, 10, 20]) # 오름차순으로 정렬
sorted([1, 2, 100, 200, 3, 4, 10, 20], reverse = True) # 내림차순으로 정렬
list(reversed([1, 2, 100, 200, 3, 4, 10, 20])) # reversed는 역순으로 정렬(역 정렬 x)

sorted(['hello', 'l', 'hllo', 'hel', 'heo', 'a']) # 유니코드로 정렬?
sorted(['hello', 'l', 'hllo', 'hel', 'heo', 'a'], key = len) # 문자열 길이대로 정렬


# sorted와 reversed는 원본을 수정하지 않음

['l', 'a', 'hel', 'heo', 'hllo', 'hello']