# 반복문

In [ ]:
# 반복문
for 변수명 in 순회_가능한_객체:
    pass # 수행할_문장

In [2]:
# 반복문 기초
for x in 'hello':
    print(f'현재 값은 {x} 입니다.')

# hello 를 순서대로 단어를 하나씩 꺼내서 x에 하나씩 넣은 다음
# 하나씩 for문으로 순회하여 실행함
# 완료 후 그 다음 시퀀스 자료로 넘어가 똑같은 작업 수행

현재 값은 h 입니다.
현재 값은 e 입니다.
현재 값은 l 입니다.
현재 값은 l 입니다.
현재 값은 o 입니다.

In [3]:
for x in (1, 2, 3, 4, 5):
    print(f'현재 값은 {x} 입니다.')

현재 값은 1 입니다.
현재 값은 2 입니다.
현재 값은 3 입니다.
현재 값은 4 입니다.
현재 값은 5 입니다.

In [4]:
for x in range(10, 20, 2):
    print(f'현재 값은 {x} 입니다.')

현재 값은 10 입니다.
현재 값은 12 입니다.
현재 값은 14 입니다.
현재 값은 16 입니다.
현재 값은 18 입니다.

In [5]:
# 문자열(str) 자료형을 범위로

s = 'hello world'
for i in s:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [6]:
# 문자열에서 숫자를 모두 더하는 예제

s = '123'
result = 0
for i in s:
    result += int(i)

print(result)

6

In [8]:
# 딕셔너리 자료형을 범위로 지정한 예시

단어_사전 = {
    '하나': 'one',
    '둘': 'two',
    '셋': 'three',
}

for i in 단어_사전:
    print(i)

하나
둘
셋

In [9]:
# range
# range(시작_값, 종료_값, 연속하는_두_수의_차)

for i in range(5):
    print(i)

0
1
2
3
4

In [10]:
# 짝수 코드 작성

result = 0
for i in range(101): # 0부터 100까지 출력
    if i % 2 == 0: # 짝수만 가져옴
        result += i # 누적해서 더해줌

print(result)

2550

In [11]:
# 좀 더 효율적인 짝수 코드 작성?

result = 0
for i in range(0, 101, 2):
    result += i
result

2550

# 중첩 반복문

In [12]:
for i in [[1, 2], [10, 20], [100, 200]]:
    print(i)

[1, 2]
[10, 20]
[100, 200]

In [13]:
for i in [[1, 2], [10, 20], [100,200]]:
    print(i)
    for j in i:
        print(j)

[1, 2]
1
2
[10, 20]
10
20
[100, 200]
100
200

In [14]:
# 중첩을 이용한 구구단

for i in range(2, 10): # 2부터 9까지 출력
    print(f'---{i}단---')
    for j in range(1, 10): # 1부터 9까지
        print(f'{i} x {j} = {i * j}') # i와 j를 곱한 값 출력

---2단---
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
---3단---
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
---4단---
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
---5단---
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
---6단---
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
---7단---
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
---8단---
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
---9단---
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

# 컴프리헨션

In [15]:
# 기본 반복문
x = []

for i in range(1, 10):
    x.append(i) # append는 리스트에 값을 추가

print(x)

# 이 문법을 간결하게 만들면 아래와 같음

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
# 리스트 컴프리헨션
# 간결하게 리스트를 생성하는 기능

# step1 list안에 for문을 가져옴
#[for i in range(1, 10)] # for문 시작하는 조건을 가져오고 리스트로 묶음

# step2 append 항목을 앞으로 가져옴
a = [i for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]
b = [i*2 for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a, b)

[1, 2, 3, 4, 5, 6, 7, 8, 9] [2, 4, 6, 8, 10, 12, 14, 16, 18]

In [20]:
# 컴프리헨션 내에서 조건문 사용

l = [i for i in range(1, 100) if i % 3 == 0 or i % 5 == 0]
print(l)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99]

In [23]:
# 중첩된 반복문과 중첩된 컴프리헨션

# 리스트 컴프리헨션: 중첩된 반복문
c = [f'{i} x {j} = {i*j}' for i in range(2, 10) for j in range(1,10)]

# 리스트 컴프리헨션: 중첩된 컴프리헨션
cc = [[f'{i} x {j} = {i*j}' for j in range(1, 10)] for i in range(2, 10)]

# 전통적인 방법
c_list = []
for i in range(2, 10):
    for j in range(1, 10):
        c_list.append(f'{i} x {j} = {i*j}')

In [24]:
print(c)

['2 x 1 = 2', '2 x 2 = 4', '2 x 3 = 6', '2 x 4 = 8', '2 x 5 = 10', '2 x 6 = 12', '2 x 7 = 14', '2 x 8 = 16', '2 x 9 = 18', '3 x 1 = 3', '3 x 2 = 6', '3 x 3 = 9', '3 x 4 = 12', '3 x 5 = 15', '3 x 6 = 18', '3 x 7 = 21', '3 x 8 = 24', '3 x 9 = 27', '4 x 1 = 4', '4 x 2 = 8', '4 x 3 = 12', '4 x 4 = 16', '4 x 5 = 20', '4 x 6 = 24', '4 x 7 = 28', '4 x 8 = 32', '4 x 9 = 36', '5 x 1 = 5', '5 x 2 = 10', '5 x 3 = 15', '5 x 4 = 20', '5 x 5 = 25', '5 x 6 = 30', '5 x 7 = 35', '5 x 8 = 40', '5 x 9 = 45', '6 x 1 = 6', '6 x 2 = 12', '6 x 3 = 18', '6 x 4 = 24', '6 x 5 = 30', '6 x 6 = 36', '6 x 7 = 42', '6 x 8 = 48', '6 x 9 = 54', '7 x 1 = 7', '7 x 2 = 14', '7 x 3 = 21', '7 x 4 = 28', '7 x 5 = 35', '7 x 6 = 42', '7 x 7 = 49', '7 x 8 = 56', '7 x 9 = 63', '8 x 1 = 8', '8 x 2 = 16', '8 x 3 = 24', '8 x 4 = 32', '8 x 5 = 40', '8 x 6 = 48', '8 x 7 = 56', '8 x 8 = 64', '8 x 9 = 72', '9 x 1 = 9', '9 x 2 = 18', '9 x 3 = 27', '9 x 4 = 36', '9 x 5 = 45', '9 x 6 = 54', '9 x 7 = 63', '9 x 8 = 72', '9 x 9 = 81']

In [25]:
def sumthingFunction(i):
    if i % 100 ==0: # 조건문 100으로 나눴을 때 나머지가 0이 되는 것
        return i # 조건이 일치하면 i를 리턴, 일치하지 않으면 0을 리턴
    else:
        return 0

l = [100, 200, 300, 101, 202, 303]

# l(리스트)에 있는 값들을 하나씩 꺼내서, 함수에 태워보고 조건에 맞는 숫자 출력
l = [sumthingFunction(i) for i in l]
l # 출력: [100, 200, 300, 0, 0, 0]

[100, 200, 300, 0, 0, 0]

In [26]:
l = [100, 200, 300, 101, 202, 303]
l2 = [(lambda x: x * x)(x) for x in l]
print(l2)

[10000, 40000, 90000, 10201, 40804, 91809]

In [29]:
# 딕셔너리 컴프리헨션

d = {}
for i in range(5):
    d[i] = i ** 2

print(d)

# 딕셔너리 컴프리헨션 사용
dd = {i: i**2 for i in range(5)}
print(dd)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [30]:
# 복합 자료형 순회

for i, j, k in ['abc', 'def', 'ghi']:
    print(i, j, k)

a b c
d e f
g h i

In [33]:
skill = [
    ('고기잡이', 100),
    ('고기팔기', 120),
    ('낚시', 5),
    ('통발', 5),
    ('큰그물', 5),
]

for i, j in skill:
    print(i, j)

고기잡이 100
고기팔기 120
낚시 5
통발 5
큰그물 5

In [34]:
# enumerate
# 순서를 매길 때 사용

영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i in enumerate(영화누적관객수):
    print(i)

(0, '레미제라블')
(1, '뷰티인사이트')
(2, '매트릭스')
(3, '인셉션')
(4, '어거스트 러쉬')

In [36]:
for i, j, in enumerate(영화누적관객수, 1):
    print(f'누적관객수 {i}위: {j}!')

누적관객수 1위: 레미제라블!
누적관객수 2위: 뷰티인사이트!
누적관객수 3위: 매트릭스!
누적관객수 4위: 인셉션!
누적관객수 5위: 어거스트 러쉬!