In [17]:
'''
1. 다음 숫자 중 5보다 크고, 20보다 작으면서 짝수인 수를 모두 더하는 코드를 완성 해주세요.
오늘 배운 filter 사용은 필수 입니다.

number = [1, 5, 7, 4, 3, 22, 23, 15, 26, 17, 3]
def solution(data)
    return

solution(number)
'''

number = [1, 5, 7, 4, 3, 22, 23, 15, 26, 17, 3]
def solution(data):
    return sum(filter(lambda x: 5 < x < 20 and x % 2 == 0, number))

solution(number)

0

In [29]:
'''
2. 다음에 정보가 담겨져 있는 것을 Class로 만들어주세요.
 메서드로는 '할인' 메서드를 만들어주세요.
 예를 들어 아래 책을 10% 할인한다고 하면 4500원이 됩니다.
 `책.할인(10) == 4500`의 형태로 만들어주시면 됩니다.
{
    '책제목': 'hello world python',
    '책 내용 요약': 'hello world...',
    '저자': '이호준',
    '발행일': '2024-01-11',
    '가격': 5000
}
'''

class books:
    def __init__(self, title, story, author, date, price):
        self.title = title
        self.story = story
        self.author = author
        self.date = date
        self.price = price

    def sale(self, sale):
        sale_price = self.price - (self.price * sale / 100)
        return sale_price

book1 = books(
    'hello world python',
    'hello world...',
    '이호준',
    '2024-01-11',
    5000
)

print(book1.sale(10))

4500.0

In [50]:
'''
3. 다음 문제를 풀고 정답을 제출해주세요.
3.1 https://100.pyalgo.co.kr/?page=10#
'''

능력치 = [
    ['Licat', 98, 92, 85, 97],
    ['Mura', 95, 32, 51, 30],
    ['Binky', 98, 98, 51, 32],
    ['Gray', 98, 92, 85, 97],
    ['Gom', 98, 30, 21, 60],
    ['Allosa', 98, 90, 99, 98]
]

sorted(list(filter(lambda x: sum(x[1:]) > 350, 능력치)))

[['Allosa', 98, 90, 99, 98],
 ['Gray', 98, 92, 85, 97],
 ['Licat', 98, 92, 85, 97]]

In [70]:
'''
3.2 https://100.pyalgo.co.kr/?page=18#
'''

온도 = {
    '2024-01-01': 15,
    '2024-01-02': 17,
    '2024-01-03': 16,
    '2024-01-04': 20,
    '2024-01-05': 19,
    '2024-01-06': 21,
    '2024-01-07': 18
}

dict(sorted(온도.items(), key=lambda x: x[1], reverse=True))

{'2024-01-06': 21,
 '2024-01-04': 20,
 '2024-01-05': 19,
 '2024-01-07': 18,
 '2024-01-02': 17,
 '2024-01-03': 16,
 '2024-01-01': 15}