# 함수의 이름은 변수

In [1]:
def hello():
    '''
    Doc string
    여기에 주석을 달아야함
    '''
    pass

In [2]:
print(type(hello)) # 함수도 class?

<class 'function'>

In [ ]:
a = 10
# a는 뭐지?
# a는 int에 인스턴스

In [ ]:
print('hello world') # built in funaction

In [3]:
l = [print, print, print]
l[2]('hello world') # 인스턴스라 이렇게 출력 가능

hello world

In [4]:
add = lambda x, y: x + y

In [5]:
# lambda랑 3항 연산자 많이 사용

x = 10
y =  True if x % 2 == 0 else False

y

True

In [8]:
# 재사용 할 것이면 함수로

def 제곱(x):
    return x ** 2

list(map(제곱, [1, 2, 3, 4]))

[1, 4, 9, 16]

# lambda의 응용

## Top3
map 에서 사용

In [ ]:
# 재사용 하지 않을 것이면 lambda로! (실무에서 이걸 좀 더 많이 사용)
# 수직이 복잡하면 함수로

# 위에 코드를 lambda로!
list(map(lambda x: x**2, [1, 2, 3, 4]))

In [9]:
list(map(lambda x: True if x % 2 == 0 else False, [1, 2, 3, 4])) # 마스킹

[False, True, False, True]

In [ ]:
# 알고리즘 문제에서
# [True, False, False, False, True]
# 에라토스테네스의 체(마스킹이 얼마나 유용한지 알 수 있음)

In [13]:
# 30이 소수인가?

for i in range(2, 31):
    if 30 % i == 0:
        print('소수 아님')
        break
else:
    print('소수임')

소수 아님

## Top3
filter 에서 사용

In [ ]:
# filter는 True인것만 출력
list(filter(lambda x: x % 2 == 0, range(100)))

In [ ]:
list(filter(lambda x: x % 3 == 0, range(100)))

In [ ]:
list(filter(lambda x: x > 50, range(100)))

In [ ]:
list(filter(lambda x: x > 50 and x < 80, range(100)))

In [ ]:
list(filter(lambda x: True if x % 3 == 0  or x % 5 == 0 else False, range(100)))

In [ ]:
list(filter(lambda x: x % 2, range(100))) # 홀수를 출력

# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# x == 0일때 => lambda x: x % 2 => 0 => False로 평가!
# x == 1일때 => lambda x: x % 2 => 1 => True로 평가!
# x == 2일때 => lambda x: x % 2 => 0
# x == 3일때 => lambda x: x % 2 => 1
# x == 4일때 => lambda x: x % 2 => 0
# x == 5일때 => lambda x: x % 2 => 1
# x == 6일때 => lambda x: x % 2 => 0

In [24]:
test = lambda i:i % 2 == 0
[test(i) for i in range(10)]

[True, False, True, False, True, False, True, False, True, False]

## Top3
sorted 에서 사용

In [20]:
l = [10, 20, 5, 4, 22, 32, 5, 9, 11]
l.sort() # sort를 자주사용 사용 않음 -> 원본을 변경 시켜서
l

[4, 5, 5, 9, 10, 11, 20, 22, 32]

In [23]:
l = [10, 20, 5, 4, 22, 32, 5, 9, 11]
sorted(l) # sorted의 return 값이 정렬된 값
l

[10, 20, 5, 4, 22, 32, 5, 9, 11]

In [ ]:
sorted() # key, reverse 옵션 정말 많이 사용함
# 알고리즘 단골 문제, sorted는 1문제 꼭 나옴

In [45]:
반별점수 = [
    ['양털', '88', '88', '88'],
    ['유리', '90', '90', '90'],
    ['부숩', '90', '90', '90'],
    ['구구', '50', '50', '50'],
]

In [46]:
def 함수(x):
    return x[3]

sorted(반별점수, key=함수)

[['구구', '50', '50', '50'],
 ['양털', '88', '88', '88'],
 ['유리', '90', '90', '90'],
 ['부숩', '90', '90', '90']]

In [47]:
def 함수(x):
    return x[3]

sorted(반별점수, key=lambda x: x[3])

[['구구', '50', '50', '50'],
 ['양털', '88', '88', '88'],
 ['유리', '90', '90', '90'],
 ['부숩', '90', '90', '90']]

In [48]:
# 평균 점수대로 출력

sorted(반별점수, key = lambda x: x[1] + x[2] + x[3]) # 나눌 필요 없음
sorted(반별점수, key = lambda x: x[1] + x[2] + x[3], reverse=True)

[['유리', '90', '90', '90'],
 ['부숩', '90', '90', '90'],
 ['양털', '88', '88', '88'],
 ['구구', '50', '50', '50']]

In [56]:
# 동점자인 경우 수학점수가 우선순위, 이름순으로 정렬
sorted(반별점수, key = lambda x: (x[1] + x[2] + x[3], x[3], x[0]), reverse=True)

[['유리', '90', '90', '90'],
 ['부숩', '90', '90', '90'],
 ['양털', '88', '88', '88'],
 ['구구', '50', '50', '50']]

In [111]:
우편번호 = [
    {
        '주소': '경기도 용인시',
        '우편번호': 321
    },
    {
        '주소': '경기도 수원시',
        '우편번호': 355
    },
    {
        '주소': '제주특별자치도 제주시',
        '우편번호': 333
    }
]

# sorted(우편번호) #error, 비교를 할 수 없다!?
sorted(우편번호, key=lambda x: x['우편번호'])

# 우편번호 = [
#     {
#         '주소': '경기도 용인시',
#         '우편번호': 321
#     }, => 321
#     {
#         '주소': '경기도 수원시',
#         '우편번호': 355
#     }, => 355
#     {
#         '주소': '제주특별자치도 제주시',
#         '우편번호': 333
#     } => 333
# ]

[{'주소': '경기도 용인시', '우편번호': 321},
 {'주소': '제주특별자치도 제주시', '우편번호': 333},
 {'주소': '경기도 수원시', '우편번호': 355}]

In [67]:
# 직선에 있는 점의 좌표
# 점과 점 사이가 가장 짧은 점의 쌍 출력

# 입력값: s = [1, 3, 4, 8, 13, 17, 20]
# 출력값: 3, 4

s = [1, 3, 4, 8, 13, 17, 20]
s[1:]

[3, 4, 8, 13, 17, 20]

In [69]:
x = list(zip(s, s[1:]))
x

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [72]:
sorted(x, key=lambda x: x[1] - x[0])[0]

(3, 4)

In [60]:
# 출력을 번호 붙여서 하고 싶어
# 이건 자주사용하는 코드 X
list(enumerate(zip('hello', 'world')))

[(0, ('h', 'w')),
 (1, ('e', 'o')),
 (2, ('l', 'r')),
 (3, ('l', 'l')),
 (4, ('o', 'd'))]

In [61]:
# 좀 더 좋게 만들면?
# 제너레이터
# 난이도 상

def gen():
    i = 1
    while True:
        yield i
        i += 1

list(zip(gen(), 'hello', 'world'))

[(1, 'h', 'w'), (2, 'e', 'o'), (3, 'l', 'r'), (4, 'l', 'l'), (5, 'o', 'd')]

# built in function

* map (★★★)
* filter (★★)
* zip (★)
* format (★★)
* len(★)

In [ ]:
max([10, 20, 30]) # 최대값 찾기
min([10, 20, 30]) # 최솟값 찾기

In [73]:
sum([10, 20, 30])
sum([10, 20, 30], 100)
sum([[1, 2, 3], [4, 5, 6]], [])

[1, 2, 3, 4, 5, 6]

In [74]:
sum([[1, 2, 3], [4, 5, 6]], [])

# [] + [1, 2, 3] == [1, 2, 3]
# [1, 2, 3] + [4, 5, 6] == [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [76]:
a = 10

print(a) # 이건 __str__ 로 출력
a # 이건 __repr__ 로 출력
repr(a) # 이건 __repr__ 로 출력

10

'10'

In [78]:
# 실제 Django에서 사용하는 코드
class Notice:
    '''
    게시물 클래스
    '''
    def  __init__(self, title, contents):
        self.title = title
        self.contents = contents

    def __str__(self):
        return self.title

    def __repr__(self):
        return f'{self.title}, {self.contents}'

게시물1 = Notice('파이썬 이렇게 어려운줄 몰랐다!', '내가 알던 파이썬이 아니야...')
게시물2 = Notice('Django는 이렇게 재미있을 줄 몰랐다!', '파이썬을 잘 못해서 내가 할 수 있을까 생각이 들었는데...')

파이썬 이렇게 어려운줄 몰랐다!

In [81]:
# print(게시물1) # 로그로 출력할 때
# 게시물1
repr(게시물1) # 그 자료형을 대표하는 문자열 취급

'파이썬 이렇게 어려운줄 몰랐다!, 내가 알던 파이썬이 아니야...'

In [83]:
type(range(10)) # range라는 타입

range

In [86]:
# 실제 Django에서 사용하는 코드

class Notice:
    '''
    게시물 클래스
    '''
    def __init__(self, title, contents):
        self.title = title
        self.contents = contents

    def __str__(self):
        return self.title

    def __repr__(self):
        '''
        repr이라는 값은 정해져 있는 이름
        '''
        return f'{self.title}, {self.contents}'

    def __len__(self):
        '''
        len이라는 값은 정해져 있는 이름
        '''
        # return 100
        return len(self.title + self.contents)

게시물1 = Notice('파이썬 이렇게 어려운줄 몰랐다!', '내가 알던 파이썬이 아니야....')
len(게시물1)

35

In [85]:
values = ['A', 'B', 'C', 'D']
print(list(enumerate(values)))
print(list(enumerate(values, 1))) # 시작값 넣는 것 많이 사용

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]
[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')]

In [87]:
list(reversed([1, 2, 3, 4, 5]))

[5, 4, 3, 2, 1]

In [88]:
reversed([1, 2, 3, 4, 5])

In [89]:
sorted([1, 2, 3, 4, 5])

[1, 2, 3, 4, 5]

# match

* 2024년은 중요도가 낮음
* 2 ~ 3년 후에는 중요도가 올라갈 것으로 예상

In [90]:
# 반대하는 이유
# 타 언어에 비해서 불편한 점
요일 = 3
match 요일:
    case 0:
        print('일요일')
    case 1:
        print('월요일')
    case 2:
        print('화요일')
    case 3:
        print('수요일')
    case 4:
        print('목요일')
    case 5:
        print('금요일')
    case 6:
        print('토요일')

# 요일 = 4
# match 요일:
#     case 0:
#         print('일요일')
#     case 1:
#         print('월요일')
#     case 2:
#         print('화요일')
#     case 3: # 다른 언어에서는 이 문법이 가용함
#     case 4:
#         print('목요일')
#     case 5:
#         print('금요일')
#     case 6:
#         print('토요일')

수요일

In [91]:
text = '1'
match text:
    case '1' | '2':
        print('1, 2')
    case _:
        print('No Match')

1, 2

In [92]:
요일 = 100
match 요일:
    case 0:
        print('일요일')
    case 1:
        print('월요일')
    case 2:
        print('화요일')
    case 3:
        print('수요일')
    case 4:
        print('목요일')
    case 5:
        print('금요일')
    case 6:
        print('토요일')
    case _:
        print('요일없음!')

요일없음!

In [93]:
text = '1'
match text:
    case '1' | '2':
        print('1, 2')
    case _:
        print('No Match')

1, 2

In [94]:
# 아래 코드를 더 많이 사용
def 요일반환(요일):
    return {
        0: '일요일',
        1: '월요일',
        2: '화요일',
        3: '수요일',
    }.get(요일, '요일없음')

요일반환(2)
요일반환(100)

'요일없음'

# class

* 이론보다 여러개 만들어보기

* class 클래스 이름 -> 인스턴스
* class Blog -> 게시물1, 게시물2, 게시물3...
* class Dot -> 점1, 점2, 점3...
* class Character -> Licat(주인공), Lion(악당), Mob1
* class Matrix -> 행렬1, 행렬2, 행렬3 ...
* class User -> 유저1, 유저2, 유저3...
* class Cart -> cart1, cart2, cart3...
* class Comment(댓글) -> 댓글1, 댓글2, 댓글3...
* class Product -> 상품1, 상품2, 상품3...
* class Class_ -> 강의1, 강의2, 강의3...
* class Teacher -> 강사1, 강사2, 강사3...

In [96]:
# 0번: 기초 상식
# 0.0 __init__ 매직메서드는 없어도 되나요?
class 우편번호:
    제주도 = 100
    경기도 = 101
    전라북도 = 102
    전라남도 = 103

우편번호.제주도
# 왜 이걸 딕셔너리가 아닌 class로? -> 재사용성 + 확장성 때문!

# 0.1 근데 클래스 꼭 사용해야하나요?
# 일부 자료형에서는 클래스 꼭 사용해야함

# 아래와 같이 저장한다고 해서 문제가 생기는가?
# 데이터의 양(속도), 확장성, 다양성, 자료의 형태
# 기본 클래스(list, tuple, dict, set)는 매우 느림

# 제목: python 기초
# 저자: 이호준

{'제목': 'python 기초', '저자': '이호준'}

# 제목: html 기초
# 저자: 현재현

{'제목': 'html 기초', '저자': '한재현'}

[{'제목': 'python 기초', '저자': '이호준'}, {'제목': 'html 기초', '저자': '한재현'}]

100

In [97]:
from datetime import datetime

datetime.now()

datetime.datetime(2024, 1, 11, 5, 45, 19, 612078)

# Post

In [105]:
# 1번
# 클래스 설계할 때
# step 1) 모든 인스턴스에서 공유해야할 변수나 메서드
# step 2) 인스턴스 고유의 영역 설정

class Post:
    def __init__(
            self,
            in_title='',
            in_contents='',
            in_count=(),
            in_created_at='',
            in_updated_at='',
            in_author = ''
        ):
        self.title = in_title
        self.contents = in_contents
        self.count = in_count
        self.created_at = in_created_at
        self.updated_at = in_updated_at
        self.author = in_author

    def __str__(self):
        return self.title

    def __repr__(self):
        return self.title

    def __add__(self, next):
        return self.count + next.count

    def __len__(self):
        pass

    def __eq__(self, next):
        return self.title == next.title

    def update(self, in_contents):
        self.contents = in_contents
        return 200

    def delete(self):
        pass

게시물1 = Post('파이썬은 참 깊군요!',
            '오늘은 파이썬 클래스 배웠는데 어렵고 신기했다.',
            0,
            '2024-01-11',
            '2024-01-11',
            '유지은'
)

게시물2 = Post('2', '22', 0, '2024-01-11', '2024-01-11', '유지은')

print(게시물1)
print(게시물1.title)
print(게시물1 + 게시물2) # + 연산이 나오면 앞(게시물1)의 __add__가 실행됨
게시물1.update('hello world')
게시물1.contents

게시물1 == 게시물2

파이썬은 참 깊군요!
파이썬은 참 깊군요!
0

False

In [106]:
[1, 2, 3] == [1, 2, 3]

True

In [107]:
[1, 2, 3] is [1, 2, 3]

False

## Dot

In [ ]:
class Dot:

    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self):
        return (self.x + next.x, self.y + next.y)

    def __mul__(self, next):
        return (self.x * next.x, self.y * next.y)

    def distance(self, next):
        dx = self.x = next.x
        dy = self.y - next.y
        return (dx**2 + dy**2) ** 0.5

dot1 = Dot(20, 10)
dot2 = Dot(30, 5)

dot1 + dot2
dot1 * dot2
dot1.distance(dot2)

In [ ]:
class Character:
    def __init__(self, name, skill, hp, mp, power, x):
        self.name = name
        self.skill = skill
        self.hp = hp
        self.mp = mp
        self.power = power
        self.x = x

    def move(self):
        self.x += 100

    def attact(self, next):
        next.hp -= self.power

주인공1 =