# 문제 1: 이메일 주소 변경하기 (sub 사용)
문제: 주어진 문자열에서 모든 이메일 주소를 `user@weniv.co.kr`으로 변경하시오.

예시 입력: "저의 이메일 주소는 kim123@gmail.com입니다. 친구의 이메일 주소는 lee456@gmail.com입니다."
예시 출력: "저의 이메일 주소는 user@weniv.co.kr입니다. 친구의 이메일 주소는 user@weniv.co.kr입니다."

힌트: 이메일 주소를 찾기 위한 정규표현식은 `\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b`를 사용할 수 있습니다.


# 문제 2: HTML 태그 제거하기 (sub 사용)
문제: 주어진 HTML 문자열에서 모든 HTML 태그를 제거하고 텍스트만 남기시오.

예시 입력: "<p>이것은 <b>예시</b> 문장입니다.</p>"
예시 출력: "이것은 예시 문장입니다."

힌트: HTML 태그를 찾기 위한 정규표현식은 `<[^>]+>`를 사용할 수 있습니다.

In [1]:
# 문제 1 풀이
def solution(url):
    return url.split('@')[0] + '@weniv.co.kr'

solution('user@weniv.co.kr')

'user@weniv.co.kr'

In [3]:
# 변경된 문제의 해답
import re

def chagedomain(url):
    return url.split('@')[0] + '@weniv.co.kr'

# 콤마는 의도적으로 넣지 않은 것입니다.
findpattern = re.findall(r"[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}",
                         "저의 이메일 주소는 kim123@gmail.com입니다."
                         "친구의 이메일 주소는 lee456@gmail.com입니다.")

for url in findpattern:
    print(chagedomain(url))

kim123@weniv.co.kr
lee456@weniv.co.kr

# 문제 풀이 20문제(프로그래머스, pyalgo)

In [ ]:
# 알고리즘 문제풀기 전략

# 듣기
# 예제
# 무식하게 풀기 (v)
# 최적화
# 검토하기
# 구현하기
# 테스트

In [ ]:
def solution(data):
    return

solution

In [8]:
# 1: https://school.programmers.co.kr/learn/courses/30/lessons/120824 (홀짝 찾기)

def solution(data):
    홀수 = [i % 2 != 0 for i in data]
    짝수 = [i % 2 == 0 for i in data]
    print(홀수, 짝수)
    return [sum(짝수), sum(홀수)]

In [ ]:
# 좋은 풀이는 아님! (data 가변 최대치를 봄)

def solution(data):
    짝수 = [i % 2 == 0 for i in data]
    return [sum(짝수), len(data) - sum(짝수)] # sum이 순회

In [ ]:
# 좋은 풀이! (근데 좀 어려운)

def solution(num_list):
    answer = [0, 0]
    for i in num_list:
        answer[i % 2] += 1
    return answer

In [ ]:
# 2: https://school.programmers.co.kr/learn/courses/30/lessons/120585 (키 큰 사람 찾기)

# 언패킹 할 수 있는건 언패킹 하기
def solution(data):
    array, height = data
    pass

solution([149, 180, 192, 170], 167)

In [ ]:
# 좀 읽기 힘든 풀이

def solution(array, height):
    count = 0
    for i in array:
        if i > height:
            count += 1
    return count

solution([149, 180, 192, 170], 167)

In [10]:
# filter는 len가 없음

def solution(array, height):
    return len(list(filter(lambda x: x > height, array)))

solution([149, 180, 192, 170], 167)

3

In [11]:
def solution(array, height):
    return sum(map(lambda x: x > height, array))

solution([149, 180, 192, 170], 167)

3

In [12]:
def solution(array, height):
    return sum([i > height for i in array])

solution([149, 180, 192, 170], 167)

3

In [14]:
# 3: https://school.programmers.co.kr/learn/courses/30/lessons/120851

def solution(my_string):
    result = 0
    for i in my_string:
        if i.isdigit():
            result += int(i)

    return result

solution("aAb1B2cC34o0p")

10

In [17]:
# 효율적이지는 않음

def solution(my_string):
    return list(filter(lambda x: x.isdigit(), list(my_string)))

solution("aAb1B2cC34o0p")

['1', '2', '3', '4', '0']

In [21]:
def solution(my_string):
    return list(filter(str.isdigit, my_string))

solution("aAb1B2cC34o0p")

['1', '2', '3', '4', '0']

In [23]:
import re

re.findall(r'[0-9]', "aAb1B2cC34o0p")

['1', '2', '3', '4', '0']

In [25]:
import re

def solution(s):
    return sum(map(int, re.findall(r'[0-9]', s)))

solution("aAb1B2cC34o0p")

10

In [28]:
import re

def solution(s):
    return sum(map(int,(re.sub(r'[a-zA-Z]', '', s))))

solution("aAb1B2cC34o0p")

10

In [31]:
# 4: https://school.programmers.co.kr/learn/courses/30/lessons/120892 (암호 해독)

def solution(cipher, code):
    return cipher[code-1::code]

solution("dfjardstddetckdaccccdegk", 4)

'attack'

In [34]:
def solution(cipher, code):
    count = 1
    for i in cipher:
        if count == code:
            print(i)
            count = 0
        count += 1

solution("dfjardstddetckdaccccdegk", 4)

a
t
t
a
c
k

In [36]:
def solution(cipher, code):
    count = 1
    for i, j in enumerate(cipher, 1):
        if i % code == 0:
            print(j)

solution("dfjardstddetckdaccccdegk", 4)

a
t
t
a
c
k

In [37]:
# 5: https://school.programmers.co.kr/learn/courses/30/lessons/120891 (3,6,9, 게임)

def solution(order):
    order =str(order)
    return order.count('3') + order.count('6') + order.count('9')

solution('29423')

2

In [38]:
import re

def solution(order):
    order =str(order)
    return len(list(re.findall(r'[369]',order)))

solution('29423')

2

In [39]:
# 6: https://school.programmers.co.kr/learn/courses/30/lessons/120888 (중복 문자 제거)

# 중복 제거를 했지만 순서가?
set("people")

{'e', 'l', 'o', 'p'}

In [41]:
def solution(s):
    answer = ''
    for i in s:
        if i not in answer:
            answer += i
    print(answer)

solution('people')

peol

In [43]:
# 완전 좋은 풀이

def solution(my_string):
    return ''.join(dict.fromkeys(my_string)) # 딕셔너리가 키 중복이 안되는 것을 사용

solution('people')

'peol'

In [ ]:
# 7: https://school.programmers.co.kr/learn/courses/30/lessons/120886

def solution(before, after):
    if len(before) != len(after): # 예외 처리는 앞에서 반드시 해주어야 함
        return 0
    return 1 if sorted(before) == sorted(after) else 0

solution('olleh', 'hello')

In [45]:
import collections

# collections.Counter("olleh") == collections.Counter("hello")
collections.Counter("olleh")

Counter({'o': 1, 'l': 2, 'e': 1, 'h': 1})

In [46]:
def solution(before, after):
    a = list(after)
    for i in before:
        if i in a:
            a.remove(i)
        else:
            return 0
    if a:
        return 0
    return 1

solution("olleh", "hello")

1

In [ ]:
# 회문

# 'hello' => 'elloh' => 'llohe'
# 'hello' => 'ohell' => 'lohel'
# collections.deque를 사용해서 풀면 쉽게 풀립니다.

# 문제1 'hello'를 앞뒤로 이동시켜 'llohe'를 만들 수 있나요?
# 'hellohello'

# 문제2 몇칸 이동했나요?
# 'hellohello'.index('llohe')

In [48]:
# 8: https://school.programmers.co.kr/learn/courses/30/lessons/120871 (저주의 숫자)

# 십진수    3숫자마을
# 1         1
# 2         2
# 3         4
# 4         5
# 5         7
# 6         8
# 7         10
# 8         11
# 9         14
# 10        16

# filter('3이 들어간 숫자 없애기', filter('3의 배수 없애기', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

def solution(num):
    return list(filter(lambda x: (x % 3 != 0) and ('3' not in str(x)), range(10000)))[num-1]

solution(15)

25

In [ ]:
def solution(num):
    l = []
    for i in range(1000):
        if i % 3 != 0:
            l.append(i)
        elif '3' not in str(i):
            l.append(i)
    print(l)

solution(15)

In [ ]:
# 9: https://school.programmers.co.kr/learn/courses/30/lessons/120835 (우선 순위)

def solution(emergency):
    pass

solution([3, 76, 24])

In [53]:
emergency = [3, 76, 24]

sorted_emergency = sorted(emergency, reverse=True)
sorted_emergency

[sorted_emergency.index(i) + 1 for i in emergency]

[3, 1, 2]

In [54]:
# 10: https://school.programmers.co.kr/learn/courses/30/lessons/120890 (가까운 수)

l = [3, 10, 28]
sorted(l, key=lambda x: abs(x - 20))[0]

28

In [55]:
def solution(array, n):
    return sorted(array, key=lambda x:(abs(x-n), x-n)[0])

In [56]:
# [3, 10, 28, 30, 12] => [17, 10, 8, 10, 8]
# [3, 10, 28, 30, 12] => [(17, 3), (10, 10), (8, 28), (10, 30), (8, 12)]
# 원하는 숫자: 20
# result: 28

array = [3, 10, 28, 30, 12]
n = 20

28 - 20 == 8
12 - 20 == -8

20 - 28 == -8
20 - 12 == 8

sorted(array, key=lambda x:(abs(x-n), x))[0]
sorted(array, key=lambda x:(abs(x-n), n-x))[0] # 팁, n-x이거나 x-n 2개 중에 하나입니다.

28

In [57]:
# 11: https://school.programmers.co.kr/learn/courses/30/lessons/120887 (k의 개수)

# i    j    k
# 1    13    1

i = 1
j = 13
k = 1

str(list(range(i, j+1)))
'[1, 11, 13]'.count('1')

str(list(range(i, j+1))).count(str(k))

6

In [58]:
a = 10
b = 20

# swap

temp = a
a = b
b = temp

# python에서 사용하는 swap

a = 10
b = 20
a, b = b, a
a, b

(20, 10)

In [ ]:
def solution(i, j, k):
    return str(list(range(i, j+1))).count(str(k))

In [ ]:
i = 1
j = 13
k = 1

count = 0
for temp in range(i, j):
    count += str(temp).count(str(k))

count

In [ ]:
# 에라토스테스트의 체 => 소수판별 => 이것을 알고리즘 문제로 내는 것은 저는 반대
소수 = [True] * 120
소수[0] = 소수[1] = False

for i in range(4, 120, 2):
    소수[i] = False

for i in range(6, 120, 3):
    소수[i] = False

In [ ]:
# 행렬의 연산과 같은 것은 np를 사용하시면 쉽고 빠르게 풀 수 있습니다.
import numpy as np

x = np.array([1, 2, 3])
x * 2

In [ ]:
s = [[1, 3, 5], [7, 9, 11], [13, 15, 17]]
s = np.array(s)
행, 렬 = np.where(s == 7)
행

In [ ]:
# 지뢰찾기
x = [[0, 1, 0, 0],
     [0, 1, 0, 0],
     [0, 0, 0, 1]]

x = np.array(x)
np.where(x == 1)

In [ ]:
x = [[0, 1, 0, 0],
     [0, 1, 0, 0],
     [0, 0, 0, 1]]

s = 0
for i in x:
    s += i.count(1)

s

In [ ]:
x = [[0, 1, 0, 0],
     [0, 1, 0, 0],
     [0, 0, 0, 1]]

x = np.array(x)
x == 1

In [ ]:
x = [[0, 5, 2, 0],
     [0, 7, 0, 6],
     [0, 1, 3, 5]]

x = np.array(x)
x > 3