# 1. 입력 input

## 1.1 input 실습

In [1]:
input('입력해주세요')

입력해주세요hello

'hello'

In [3]:
input('입력해주세요') #문자형으로 받기

입력해주세요10

'10'

In [4]:
int(input('입력해주세요')) #정수형으로 받기

입력해주세요10

10

## 1.2 input 실습 2

input으로 받은 값을 변수에 할당

In [5]:
name = input("이름을 입력해주세요")

이름을 입력해주세요유지은

In [6]:
print("Hello, " + name + "!")

Hello, 유지은!

In [7]:
# input을 활용한 덧셈 -  문자열인 경우 (이러한 오류가 생김)
a = input("첫 번째 숫자를 입력해주세요")
b = input("두 번째 숫자를 입력해주세요")

print("a + b = ", a+b, " 입니다. ")

첫 번째 숫자를 입력해주세요33
두 번째 숫자를 입력해주세요45
a + b =  3345  입니다.

In [8]:
# input을 활용한 덧셈 -  숫자열인 경우
a = int(input("첫 번째 숫자를 입력해주세요"))
b = int(input("두 번째 숫자를 입력해주세요"))

print("a + b = ", a+b, " 입니다. ")

첫 번째 숫자를 입력해주세요33
두 번째 숫자를 입력해주세요45
a + b =  78  입니다.

# 2. 출력함수 Print

In [16]:
# 1. 여러줄 출력 (print 사용 안하면 마지막 한 줄만 출력)

'출력'
'출력합니다.'

'출력합니다.'

In [12]:
# 2. 여러값 출력

print("hello", "world", "!")

hello world !

## 2.1 구분자 sep

값들 사이의 연결할 때 구분자를 원하는 문자로 지정하여 사용할 수 있음.

In [14]:
# sep 구분자

print("hello", "world", "!", sep = "-")

hello-world-!

## 2.2 end

뒤에 붙은 거 정할 수 있음

In [15]:
# end 구분자

print("hello", "world", "!", end = "@")

hello world !@

# 3. f-string

In [19]:
# f-string (f가 없을때)

name = 'yoo'
age = 23
print('이름은 {name}, 제 나이는 {age} 입니다.')

이름은 {name}, 제 나이는 {age} 입니다.

In [20]:
# f-string ({}가 없을때)

name = 'yoo'
age = 23
print(f'이름은 name, 제 나이는 age 입니다.')

이름은 name, 제 나이는 age 입니다.

In [21]:
# f-string (제대로 사용)

name = 'yoo'
age = 23
print(f'이름은 {name}, 제 나이는 {age} 입니다.')

이름은 yoo, 제 나이는 23 입니다.

In [23]:
# input과 f-string을 이용한 예시

name = input("이름을 입력해주세요.")
age = int(input("나이를 입력해주세요."))

print(f'이름은 {name}, 제 나이는 {age} 입니다.')

이름을 입력해주세요.yoohan
나이를 입력해주세요.23
이름은 yoohan, 제 나이는 23 입니다.

# 4. None

None은 값이 없는? 할당을 받아도 출력 안함

(print쓰면 나타남)

In [24]:
# None

a = None

In [25]:
print(a)

None